<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<Cardstream_PaymentGateway>
				<active>0</active>
				<title>Pay with Cardstream</title>
                <merchant_id>merchant_id_here</merchant_id>
                <merchant_shared_key>merchant_secret_here</merchant_shared_key>
                <integration_type>hosted</integration_type>
				<order_status>pending</order_status>
				<successful_status>complete</successful_status>
				<unsuccessful_status>canceled</unsuccessful_status>
				<debug>n</debug>
				<payment_action>true</payment_action>
				<model>Cardstream\PaymentGateway\Model\Method\CardstreamMethod</model>
			</Cardstream_PaymentGateway>
		</payment>
	</default>
</config>
